 body {
  background-color: white;
}
header {
  text-align: center;
  background-size: cover;
  color: white;
}
a {
  color: white;
}
h1 {
  font-size: 50px;
  color:  #948195;
  font-family: 'cursive';
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 500px) {

  h1 {
    font-size: 36px;
    font-family: 'cursive';
  }
  li {
    display: block;
    padding: 5px;
  }

}

.search-box {
  height : 20px;
  font-size: 16px;
}

.social {
  display : inline;
}

.banner {
  align : center;
  height : 300px;
  width: 600px
}
/* drop down menu bar and search box*/
.dropbtn {
  padding: 10px;
  background-color: white;
  color: #db7094;
  padding: 10px;
font-size: 20px;
  border: none;
  font-family: 'cursive';
}
.dropdown {
  margin-right : 30px;
  position: relative;
  display: inline-block;
}
.search {
  display : inline-block;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10px;
  z-index: 1;
  font-family: 'cursive';
  color: white;
  font-size: 20px;
}
.dropdown-content a {
  color: white;
  width: 100%;
  text-decoration: none;
  display: block;
}
.dropdowndivider {
  background-color: white;
  border-color: black;
  border-left: 2px;
  border-right: 2px;
  border-style:double;
}

.dropdown-content a:hover {background-color: #d43668;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fdc2c2;}

/*image slideshow*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 32px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*contents and body of homepage*/
.contents {
  font-size : 16px;
  font-family : arial;
  color : black;
  padding-right: 100px;
  padding-left: 100px;
}
.active, .contentsimg:hover {
    color: rgba(0,0,0,0.8);
}

/*footer*/
.footer {
    bottom: 0;
    width: 100%;
    height: 300px;
    position : fixed;
    border-top : 10px;
    border-top-width : 100%;
    border-top-color : black;
    background-color: #a6a6a6;
}
.footercontents {
  font-family: monospace;
  text-align : center;
  font size : 36px;
  font-weight : bold;
  color: white;
  background-color: #a6a6a6;
}
