/* Hide the images by default */
.mySlides {
  display: none;
}

 body {
  background-color: white;
}
header {
  text-align: center;
  background-size: cover;
  color: white;
}
a {
  color: white;
}
h1 {
  padding: 5px;
  text-align: center;
  font-size: 50px;
  color:  grey;
  font-family: "Lucida Sans Unicode", sans-serif;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color:  white;
  background-color: #db7094;
  text-align : center;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 500px) {

  li {
    display: block;
    padding: 5px;
  }

}

.social {
  display : inline;
}

.banner {
  align : center;
  height : 300px;
  width: 600px
}
/* drop down menu bar and search box*/
.dropbtn {
  padding: 10px;
  background-color: white;
  color: #db7094;
  padding: 10px;
font-size: 20px;
  border: none;
  font-family: cursive;
}
.dropdown {
  margin-right : 30px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10px;
  z-index: 1;
  font-family: cursive;
  color: white;
  font-size: 20px;
}
.dropdown-content a {
  color: white;
  margin-right: 30px;
  width: 100%;
  text-decoration: none;
  display: block;
}
.dropdowndivider {
  background-color: white;
  border-color: black;
  border-left: 2px;
  border-right: 2px;
  border-style: double;
}

.dropdown-content a:hover {background-color: #d43668;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fdc2c2;}
/*search box and button*/

* {
    box-sizing: border-box;
}
form.search {
  display: inline-block;
  position: relative;
  width: 300px;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 250px;
    background: #f1f1f1;
}


form.search button {
    float: right;
    height: 35px;
    width:50px;
    background: #db7094;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form.search button:hover {
    background: #ee9fb9;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

/*social media buttons*/

.fa {
  float:left;
  font-size: 30px;
  text-align: center;
  height: 35px;
  width:35px;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
  border-width: 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #BA55D3;
  color: white;
}

/*image slideshow*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
}




/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 32px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*contents and body of homepage*/
.contents {
  font-size : 16px;
  font-family : arial;
  color : black;
  padding-right: 100px;
  padding-left: 100px;
}
.active, .contentsimg:hover {
    color: rgba(0,0,0,0.8);
}
.blogimg {
  height : 300px;
  width: 100%;
}
.blogimg:hover {
  opacity : 0.7;
  cursor: pointer;
  }
/*overlay for news items*/
* {box-sizing: border-box;}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
/*text for news & blog*/
.blog {
  background-color: lightgrey;
}
.link {
  color : #db7094;
  text-decoration: underline;
}

.newsletter {
  background : grey;
  height: 100px;
}

/* form for newsletter*/

* {
    box-sizing: border-box;
}
form.email {
  width: 600px;
  margin-left: 250px;
}

form.email input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: #f1f1f1;
    align:center;
}


form.email button {
    float: right;
    display: inline-block;
    height: 45px;
    width:20%;
    background: #db7094;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form.email button:hover {
    background: #ee9fb9;
}

form.email::after {
    content: "";
    clear: both;
    display: table;
}

/*footer*/
footer {
    bottom: 0;
    width: 100%;
    border-top : 10px;
    border-top-width : 100%;
    border-top-color : black;
    background-color: #a6a6a6;
}
.footercontents {
  font-family: monospace;
  text-align : center;
  font size : 36px;
  font-weight : bold;
  color: white;
  background-color: #a6a6a6;
}


/*recipes*/
.ingredient {
  font-size: 50px;
  color:  #948195;
  font-family: cursive;
  text-align: center;
  padding: 1em;
}

.cocktail-image {
  width: inherit;
  height: inherit;
}

.cosmo {
  background-image: url(../images/cosmo.jpg);
}

.moscowmule {
  background-image: url(../images/moscow.jpg);
}

.image-container {
  position: relative;
}

.recipe {
  position: absolute;
    bottom: 0;
    right: 20px;
    background-color: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.recipe p {
  margin-bottom: 0;
  height: #px;
}

.alcoholcontent {
  position: inherit;
}

.name {
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

.namerum {
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  color: white;
}

.detailsrum {
  color: white;
}

.cocktailimage {
  position: center;
}

.showdescription small {
  opacity :1;
}

.beaker {
  fill: 000;
  stroke: white;
}

h6 {
  text-align: center;
}
