
header {
  text-align: center;
  background-size: cover;
  color: white;
}
a {
  color: white;
}
h1 {
  font-size: 50px;
  color:  #948195;
  font-family: cursive;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 500px) {

  h1 {
    font-size: 36px;
    font-family: cursive;
  }
  li {
    display: block;
    padding: 5px;
  }
}
/* drop down menu bar */
.dropbtn {
  background-color: #db7094;
  color: white;
  padding: 10px;
font-size: 20px;
  border: none;
  font-family: cursive;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdc2c2;
  min-width: #px;
  z-index: 1;
  font-family: cursive;
  color: white;
  font-size: 20px;

}
.dropdown-content a {
  color: white;
  padding: #px #px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #d43668;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #fdc2c2;}

search {
  font-family: cursive;

}
